.disabledText
{
	color: #D1D1D1
}

.spinnerInput
{
	text-align:right; width:50px; border:none; outline:none;
}

fieldset .ui-spinner{
margin-top: 2px;
}

legend {
	font-style: italic;
	font-size: 1.2em;
}

fieldset {
	display:inline;
	margin-top: 5px;
	border-style: solid;
	border-color: #ACC2E0;
	border-radius:	8px;
	padding: 5px 14px 14px 14px;	
	width: 89%;
}
#routeTable table {
	border-collapse:collapse
}

#routeTable td {
	padding-top:7px;
	padding-bottom:7px;
	border-top: 1px solid #649cea;
	border-bottom: 1px solid #649cea;
}

#routeTable tr:nth-child(even) td {
	background-color: #EEE;
}

 .ui-progressbar {
   position: relative;
 }
 
.progressLabel {
	position: absolute;
	left: 42%;
	top: 15%;
	font-weight: bold;
}

.no-close .ui-dialog-content
{
	min-height:0 !important;
}
.no-close .ui-dialog-titlebar {display: none }

.checkboxLabel {
		cursor: pointer;
		margin-left:5px;
		position: relative;
		bottom: 2px;
}
	
.check {
	position: relative;
	bottom: 4px;
}

input[type=checkbox] {
    display: none;
}
.checkbox {
	position:relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	bottom: -2px;
	background-color: #f3f3f3;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	border-radius: 3px;
	border-style: solid;
    border-width: 1px;
    border-color: #ACC2E0;
    cursor: pointer;
}

.checkedBox{
	font-size: 1.2em;
	font-style: italic;
	color: black;
}
.spinnerLabel {
	position:relative;
	top:2px;
}
.enableButton {
font-size: 0.75em !important; 

margin-bottom: 13px;
}

.validationErrorMessage
{
	color:red;
	position: relative;
	top: 5px;
	width: 49%;
	display: inline-block;
}

.minOverMax
{
	width:100%
}